*.a
*.dll
*.o
*.pc
*.so
.*.d
/ChangeLog
/autom4te.cache/
/config.cache
/config.log
/config.status
/config/config.mk
/config/depends.mk
/configure
/debian/*.debhelper
/debian/compat
/debian/control
/debian/files
/debian/libxplc
/debian/libxplc-dev
/debian/stamp-autotools-files
/debian/stamp-makefile-build
/debian/tmp
/debian/uuidcdef.substvars
/examples/simple-module-user/Makefile
/examples/simple-module-user/example
/examples/simple-module/Makefile
/include/autoconf.h
/include/autoconf.h.in
/libxplc.so.*
/tests/testmain
/uuid/bin/tst_uuid
/uuid/bin/uuidcdef
/uuid/bin/uuidgen
/uuid/uuid_types.h
